{% extends 'base.html' %}
{% load markdownify %}
{% load static %}

{% block content %}
  <main class="recipes-detail">
    <div>
      <a href="{% url 'MealPlan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'MealPlan_delete' mealplan.id %}">Delete</a>
    </div>
    <h2> Meal Plan for {{ user }} on Sep.1 2022</h2>
    {% for recipe in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}
